.header {
    width: 1440px;
    height: 2412px;
    background-color: #ffffff;
}
.top {
	display: flex;
}
.title {
	width: 165.7px;
    height: 47px;
    font-size: 40px;
    color: #e5725e;
    padding: 6px 400.4px 5px 182.5px;
}
.menu-item {
	display: inline-block;
	padding: 5px 15.8px 18px 0;
}
.img {
    background-image: url("img/rectangle-copy.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    width: 1154px;
    height: 488px;
    margin: 0 auto;
}
.nuove {
    width: 663px;
    height: 57px;
    font-size: 48px;
    padding: 198px 0 8px 65px;
}