.header {
    width: 1440px;
    height: 2412px;
    background-color: #ffffff;
}
.top {
	display: flex;
}
.title {
	width: 165.7px;
    height: 47px;
    font-size: 40px;
    color: #e5725e;
    padding: 6px 400.4px 5px 182.5px;
}
.menu-item {
	display: inline-block;
	padding: 5px 15.8px 18px 0;
}
.img {
    background-image: url("img/rectangle-copy.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    width: 1154px;
    height: 488px;
    margin: 0 auto;
}
.nuove {
    width: 663px;
    height: 57px;
    font-size: 48px;
    color: white;
    padding: 140px 0 8px 65px;
}
.people {
    width: 691px;
    height: 37px;
    font-size: 32px;
    color: white;
    padding: 0 0 56px 65px;
}
.buttons {
    padding: 0 0 70px 65px;
}
.primary {
    width: 177px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
    font-size: 16px;
    text-align: center;
    color: #e5725e;
}
.food {
    background-image: url("img/evgeniy.png");
    background-repeat: no-repeat;
    width: 900px;
    height: 264px;
    margin: 0 auto;
    display: flex;

 }
.nostri {
    width: 205px;
    height: 38px;
    font-size: 32px;
    color: white;
    padding: 103px 0 6px 24px;
}
.social {
    width: 261px;
    height: 69px;
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.8;
    color: white;
    padding: 0 0 48px 0;
}
.evento {
    background-image: url("img/evento.png");
    width: 197px;
    height: 374px;
    object-fit: contain;
    padding: 103px 0 0 291px;
}
.aria {
    width: 197px;
    height: 374px;
    object-fit: contain;
    padding: 103px 0 0 62px;
}
.mussels {
    background-image: url("img/rectangle-3-copy.png");
    width: 197px;
    height: 373px;
    object-fit: contain;
    margin: 103px 0 0 18px;
}
.mare {
    width: 46px;
    height: 22px;
    font-size: 16px;
    opacity: 0.8;
    line-height: 1.38;
    text-align: center;
    color: white;
    padding: 263px 0 10px 75.5px;
}
.frutti {
    width: 178px;
    height: 63px;
    font-size: 18px;
    opacity: 0.8;
    text-align: center;
    color: white;
    padding: 0 0 16px 10px;
}
.french-fries {
    background-image: url("img/rectangle-3.png");
    width: 197px;
    height: 373px;
    object-fit: contain;
    margin: 103px 0 0 18px;
}
.kitchen {
    width: 151px;
    height: 22px;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    opacity: 0.8;
    color: white;
    padding: 263px 0 10px 23px;
}
.evento {
    width: 178px;
    height: 63px;
    font-size: 18px;
    text-align: center;
    opacity: 0.8;
    color: white;
    padding: 0 0 16px 10px;
}
.lontana {
    width: 231px;
    height: 77px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    opacity: 0.8;
    color: #979797;
    padding: 80px 0 16px 142px;
}
.buttons-1 {
    padding: 0 0 156px 142px;
}
.altri {
    width: 177px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
    font-size: 16px;
    text-align: center;
    color: #e5725e;
}
.pink {
    width: 884px;
    height: 488px;
    background-color: #fef9f6;
    padding: 0 0 80px 193px;
}
