.header {
    width: 100%;
    height: 1023px;
    background-color: #ffffff;
}
.top {
    display: flex;
}
.title {
    width: 165.7px;
    height: 47px;
    font-size: 40px;
    color:#FF7F50;
    padding: 6px 0 5px 182.5px;
}
.home {
    width: 80.9px;
    height: 22px;
    font-size: 18px;
    font-weight: 500;
    color:#FF7F50;
    opacity: 0.8;
    padding: 18px 0 18px 400.8px;
}
.eventi {
    width: 80.9px;
    height: 21px;
    font-size: 18px;
    opacity: 0.8;
    padding: 18px 0 18px 15.8px;
}
.ricette {
    width: 80.9px;
    height: 21px;
    font-size: 18px;
    opacity: 0.8;
    padding: 18px 0 18px 15.8px;
}
.chef {
    width: 165.7px;
    height: 21px;
    font-size: 18px;
    opacity: 0.8;
    padding: 18px 0 18px 15.8px;
}
.contatti {
    width: 64.1px;
    height: 21px;
    font-size: 18px;
    opacity: 0.8;
    padding: 18px 0 18px 0;
}
.img {
    background-image: url("img/rectangle-copy.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    width: 1154px;
    height: 488px;
    margin: 5px 0 0 143px;
}
.nuove {
    width: 663px;
    height: 57px;
    font-size: 48px;
    color: white;
    opacity: 0.8;
    padding: 140px 0 8px 65px;
}
.people {
    width: 691px;
    height: 37px;
    font-size: 32px;
    color: white;
    opacity: 0.8;
    padding: 0 0 56px 65px;
}
.buttons {
    padding: 0 0 70px 65px;
}
.food {
    background-image: url("img/evgeniy.png");
    background-repeat:no-repeat;
    width: 854px;
    height: 264px;
    margin: 0 0 0 118px;
    display: flex;
}
.nostri {
    width: 205px;
    height: 38px;
    font-size: 32px;
    color: white;
    padding: 103px 0 6px 24px;
}
.social {
    width: 261px;
    height: 69px;
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.8;
    color: white;
    padding: 0 0 48px 0;
}
.evento {
    background-image: url("img/evento.png");
    width: 197px;
    height: 374px;
    object-fit: contain;
    padding: 103px 0 0 291px;
}
.aria {
    width: 197px;
    height: 374px;
    object-fit: contain;
    padding: 103px 0 0 62px;
}
.mussels {
    background-image: url("img/rectangle-3-copy.png");
    width: 197px;
    height: 373px;
    object-fit: contain;
    margin: 103px 0 0 18px;
}
.mare {
    width: 46px;
    height: 22px;
    font-size: 16px;
    opacity: 0.8;
    line-height: 1.38;
    text-align: center;
    color: white;
    padding: 263px 0 10px 75.5px;
}
.frutti {
    width: 178px;
    height: 63px;
    font-size: 18px;
    opacity: 0.8;
    text-align: center;
    color: white;
    padding: 0 0 0 10px;
}
.french-fries {
    background-image: url("img/rectangle-3.png");
    width: 197px;
    height: 373px;
    object-fit: contain;
    margin: 103px 0 0 18px;
}
.kitchen {
    width: 151px;
    height: 22px;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    opacity: 0.8;
    color: white;
    padding: 263px 0 10px 23px;
}
.evento {
    width: 178px;
    height: 63px;
    font-size: 18px;
    text-align: center;
    opacity: 0.8;
    color: white;
    padding: 0 0 16px 10px;
}
.lontana {
    width: 231px;
    height: 77px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    opacity: 0.8;
    color: #979797;
    padding: 80px 0 16px 142px;
}
.buttons-1 {
    padding: 0 0 0 142px;
}
.altri {
    width: 177px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
    font-size: 16px;
    text-align: center;
    color: #e5725e;
}
.work {
    padding: 156px 0 80px 193px;
}
.pink {
    width: 884px;
    height: 488px;
    background-color: #fef9f6;
    display: flex;
    overflow: visible;
}
.las {
    width: 145px;
    height: 22px;
    font-size: 16px;
    line-height: 1.38;
    color:#FF7F50;
    padding: 77px 0 8px 125px;
}
.brace {
    width: 231px;
    height: 114px;
    font-size: 32px;
    line-height: 0.5;
    opacity: 0.8;
    padding: 8px 0 16px 125px;
}
.casuali {
    width: 231px;
    height: 152px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    opacity: 0.8;
    padding: 0 0 24px 125px;
}
.buttons-2 {
    padding: 0 0 38px 125px;
}
.altri {
    width: 177px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
    font-size: 16px;
    text-align: center;
    color: #e5725e;
}
.job {
    padding: 109px 0 35px 56px;
}
.potato {
    background-image: url("img/patate-al-rosmarino.png");
    background-repeat:no-repeat;
    overflow: visible;
    flex-grow: 1;
    flex-shrink: 0;
    width: 398px;
    height: 265px;
    object-fit: contain;
    mix-blend-mode: multiply;
    margin: 177px 0 46px 48px;
}
.from {
    display: flex;
}
.cok {
    background-image: url("img/210-e-3-eee-275-c-22-d-813-a-4520-e-1-b-6-b-208-d-chef.png");
    background-repeat:no-repeat;
    width: 307px;
    height: 548px;
    object-fit: contain;
    margin: 80px 0 0 193px;
}
.tua {
    font-size: 48px;
    color:#FF7F50;
    padding: 222px 0 0 80px;
}
.senza {
    font-size: 32px;
    padding: 0 0 16px 0;
    color: black;
    opacity: 0.8;
}
.sulle {
    font-size: 16px;
    font-weight: 300;
    line-height: 0.75;
    opacity: 0.5;
    color: black;
}
.buttons-3 {
    padding: 40px 0 0 0;
}
.altri {
    width: 177px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
    font-size: 16px;
    text-align: center;
    color: #e5725e;
}
.footer {
    display: flex;
}
.wrapper-3 {
    width: 1170px;
    height: 177px;
    background-color: #4a4a4a;
    margin: 0 0 0 138px;
}
.nella {
    font-size: 16px;
    font-weight: 300;
    line-height: 0.75;
    opacity: 0.5;
    color: white;
    padding: 40px 0 0 24px;
}
.rights {
    width: 1122px;
    height: 22px;
    font-size: 12px;
    line-height: 1.83;
    color: white;
    opacity: 0.5;
    padding: 46px 0 16px 24px;
}
.box {
    width: 317px;
    height: 40px;
    border: solid 1px #979797;
    padding: 47px 0 0 0;

}

